<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Elizabeth Sanz">
    <meta name="description" content="Works by Elizabeth Sanz.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Spotaru</title>

    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Share'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href='/css/nav-bar.css'>
    <link rel='stylesheet' type='text/css' href='/css/map.css'>
    <link rel='stylesheet' type='text/css' href='/css/content.css'>

    <script src="/js/googlemapsapi.js"></script>
</head>

<body>
<header id="menu">
    <!-- navigation -->
    <nav class="navbar navbar-default navbar-fixed-top custom-navbar-green ">
        <!-- page title -->
        <a class="title-area" href="/">Spotaru</a>
        <!-- responsive menu  -->
        <ul class="menu-items">
            <li>
                <a id="searchLink" class="selected" href="/search">Search</a>
            </li>
            <li>
                <a id="postLink" class="selected" href="/listing">Post</a>
            </li>
            {{#with user}}
                {{#if loggedout}}
                    <li>
                        <a id="loginLink" class="selected" href="/login">Log In</a>
                    </li>
                    <li>
                        <a id="signupLink" class="selected" href="/signup">Sign Up</a>
                    </li>
                {{/if}}
                {{#if loggedin}}
                    <li>
                        <a id="accountLink" class="selected" href="/account">Account</a>
                    </li>
                    <li>
                        <a id="logoutLink" class="selected" href="/logout">Logout</a>
                    </li>
                {{/if}}
            {{/with}}
        </ul>
    </nav>
</header>

<div>
    {{{body}}}
</div>

{{! Grab Google CDN's jQuery. Fall back to local, if necessary! }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/vendor/js/jquery-2.1.1.min.js"><\/script>')</script>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript" src="/js/navLinks.js"></script>

{{{_sections.javascript}}}

{{{_sections.jquery}}}

{{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui('tdd');
        var assert = chai.assert;
    </script>
    <script src="/qa/tests-global.js"></script>
    {{#if pageTestScript}}
        <script src="{{pageTestScript}}"></script>
    {{/if}}
    <script>mocha.run();</script>
{{/if}}

</body>

</html>