<div id="login-div" class="container content-padding content-text">
    <div id="login-content" class="content-padding col-sm-6 col-sm-offset-3">
        <h1>You are already logged in!</h1>
    </div>
</div>