<div id="map-canvas" class="position-setup"></div>

<div id="searchdiv" class="position-setup rightsidebar">
    <div id="searchcontent" class="paddingcontent">
        <h1>Search</h1>
    </div>
</div>

<div id="postdiv" class="position-setup rightsidebar">
    <div id="postcontent" class="paddingcontent">
        <h1>Post</h1>

        <div id="postform" class="paddingcontent">
            <input id="address" type="textbox" value="Sydney, NSW">
            <input id="searchbutton" type="button" value="Encode">
        </div>
    </div>
</div>

<div id="logindiv" class="position-setup rightsidebar">
    <div id="logincontent" class="paddingcontent">
        <h1>Login</h1>
    </div>
</div>

<div id="signupdiv" class="position-setup rightsidebar">
    <div id="signupcontent" class="paddingcontent">
        <h1>Sign Up</h1>
    </div>
</div>
