<div id="map-canvas" class="position-setup"></div>

<div id="search-div" class="position-setup right-sidebar">
    <div id="searchcontent" class="padding-content">
        <h1>Search</h1>
    </div>
</div>

<div id="postdiv" class="position-setup right-sidebar">
    <div id="postcontent" class="padding-content">
        <h1>Post</h1>

        <div id="post-form" class="padding-content">
            <h2>Post Information</h2>
            <input id="post-title" type="textbox" value="">
            <textarea id="PostingBody" tabindex="1" rows="10"></textarea>

            <div id="apartmentDetails">
                <h2>Apartment Details</h2>
                <input id="address" type="textbox" value="New York, NY">
                <input id="searchbutton" type="button" value="Post">
            </div>
        </div>
    </div>
</div>

<div id="logindiv" class="position-setup right-sidebar">
    <div id="logincontent" class="padding-content">
        <h1>Login</h1>
    </div>
</div>

<div id="signupdiv" class="position-setup right-sidebar">
    <div id="signupcontent" class="padding-content">
        <h1>Sign Up</h1>
    </div>
</div>
