<div id="post-div" class="content-container">
    <div id="post-content" class="padding-content">
        <h1>Post</h1>

        <div id="post-form">
            <h3>Post Information</h3>
            <input id="post-title" type="textbox" value="">

            <div id="apartmentDetails">
                <h3>Apartment Details</h3>
                <input id="address" type="textbox" value="New York, NY">
                <input id="search-button" type="button" value="Post">
            </div>
        </div>
    </div>
</div>