<div id="search-div" class="content-container wrapper">

    {{! FILTER NAV BAR}}
    <div id="filter-bar-div">
        <div id="filter-bar" class="spotaru-default-font">
            <p id="filter-link" class="content-no-margin cursor-pointer">Filter Search</p>
        </div>
    </div>

    {{! MAP CANVAS }}
    <div id="map-canvas" class="content-full-width"></div>

    {{! SEARCH BOX }}
    <div id="search-box" class="col-xs-3 content-text">
        <div class="input-group">
            <input type="search" class="form-control" name="postalAddress" id="postalAddress"
                   placeholder="Address" required>
            <span class="input-group-btn">
                <button name="search-button" id="search-button" type="button" class="btn btn-warning">Search</button>
            </span>
        </div>
    </div>

    {{! FILTER CONTENT }}
    <div id="filter-content-div" class="right-sidebar content-text">

        <div class="form-group">
            <fieldset>
                <legend>Bedroooms</legend>
                <div class="col-xs-5 form-padding-top">
                    <label class="control-label" for="minBedrooms">min</label>
                    <select class="form-control filter" id="minBedrooms"></select>
                </div>
                <div class="col-xs-1 to-text-div">
                    <div class="to-text">to</div>
                </div>
                <div class="col-xs-5 form-padding-top">
                    <label class="control-label" for="maxBedrooms">max</label>
                    <select class="form-control filter" id="maxBedrooms"></select>
                </div>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <legend>Bathrooms</legend>
                <div class="col-xs-5 form-padding-top">
                    <label class="control-label" for="minBathrooms">min</label>
                    <select class="form-control filter" id="minBathrooms"></select>
                </div>
                <div class="col-xs-1 to-text-div">
                    <div class="to-text">to</div>
                </div>
                <div class="col-xs-5 form-padding-top">
                    <label class="control-label" for="maxBathrooms">max</label>
                    <select class="form-control filter" id="maxBathrooms"></select>
                </div>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <legend>Rent</legend>
                    <div class="col-xs-5">
                        <label class="control-label" for="minRent">max</label>
                        <input type="text" class="form-control filter" id="minRent" placeholder="min">
                    </div>
                    <div class="col-xs-1 to-text-div">
                        <div class="to-text">to</div>
                    </div>
                    <div class="col-xs-5">
                        <label class="control-label" for="maxRent">min</label>
                        <input type="text" class="form-control filter" id="maxRent" placeholder="max">
                    </div>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <legend>Space</legend>
                <div class="col-xs-12 form-padding-top">
                    <label class="control-label" for="sqft">Square Feet</label>
                    <input type="text" class="form-control filter" name="sqft" id="sqft" placeholder="min sqft">
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <fieldset>
                <legend>Pets</legend>
                <label class="checkbox-inline">
                    <input class="pet-checkbox filter" type="checkbox" id="dogs"> Dogs allowed <br>
                </label>
                <label class="checkbox-inline">
                    <input class="pet-checkbox filter" type="checkbox" id="dogs"> Cats allowed <br>
                </label>
            </fieldset>
        </div>

        <div class="form-group">
            <fieldset>
                <legend>Amenities</legend>
                <ul class="checkbox-grid">
                    <li>
                        <label class="checkbox-inline" for="centralAir">
                        <input class="amenities-checkbox filter" type="checkbox" id="centralAir" /> Central Air <br>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-inline" for="dishwasher">
                        <input class="amenities-checkbox filter" type="checkbox" id="dishwasher" /> Dishwasher <br>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-inline" for="elevator">
                        <input class="amenities-checkbox filter" type="checkbox" id="elevator" /> Elevator <br>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-inline" for="gym">
                        <input class="amenities-checkbox filter" type="checkbox" id="gym" /> Gym <br>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-inline" for="pool">
                        <input class="amenities-checkbox filter" type="checkbox" id="pool" /> Pool <br>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-inline" for="washerDryer">
                        <input class="amenities-checkbox filter" type="checkbox" id="washerDryer" /> Washer/Dryer <br>
                        </label>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>


    {{! RESULTS PANE }}
    <div id="search-content" class="right-sidebar content-text">

        {{! LISTING NAVBAR }}
        <nav id="listing-nav" class="navbar-inverse">
            <ul class="center-items">
                <li>
                    <a id="contactLink" class="selected">Contact</a>
                </li>
                <li>
                    <a id="favoriteListingLink" class="selected">Favorite</a>
                </li>
                <li>
                    <a id="reportLink" class="selected">Report</a>
                </li>
                <li>
                    <a id="shareLink" class="selected">Share</a>
                </li>
            </ul>
        </nav>

        <div id="listing-div" class="col-xs-12">

            <div id="listing-breadcrumb-div">
                <ol class="breadcrumb content-no-padding content-no-background-color">
                    <li><a href="#" id="result-state"></a></li>
                    <li><a href="#" id="result-city"></a></li>
                </ol>
            </div>

            <div id="listing-header-div" class="col-xs-12 content-no-padding">
                <div id="listing-id-div" class="content-display-none">
                    <h4 id="listing-id"></h4>
                </div>
                <div id="listing-address-div" class="col-lg-7 col-md-12 col-sm-12 col-xs-12 content-no-padding">
                    <h4 id="listing-address" class="text-muted content-display-inline-block"></h4>
                </div>
                <div id="listing-rent-div" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <h2 id="listing-rent"
                        class="text-success content-display-inline-block content-no-padding content-no-margin content-right"></h2>

                    <p><strong id="listing-detail"></strong></p>
                </div>
            </div>

            <div id="listing-msg-div" class="col-xs-12 content-padding-top">
                <p class="align-center"><span id="result-msg"></span></p>
                <p class="align-center">Amenities</p>
                <p class="align-center"><span id="listing-pets"></span></p>
            </div>

        </div>
    </div>
</div>

{{#section 'javascript'}}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDtmMF_hb0c03tCHSgeE-JwbJYho45EQY&callback=createMap"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/googlemapsapi.js"></script>
    <script src="/js/account.js"></script>
    <script src="/js/filter.js"></script>
    <script src="/js/customForm.js"></script>
{{/section}}