<div id="search-div" class="content-container">
    <div id="map-canvas" class="content-display-inline-block"></div>
    <div id="search-content" class="content-display-inline-block right-sidebar padding-content">
        <h1>Search</h1>
    </div>
</div>