<div id="search-div" class="content-container content-text">
    <div id="map-canvas" class="content-display-inline-block"></div>
    <div id="search-content" class="content-display-inline-block right-sidebar content-padding">
        <h1 class="align-center">Search</h1>
    </div>
</div>