<!DOCTYPE>
<html>
	<head>
		<title>Spotaru</title>

		<meta charset="utf-8">		
		<meta name="author" content="Elizabeth Sanz">
		<meta name="description" content="Works by Elizabeth Sanz.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<link rel="stylesheet" type="text/javascript" href="/css/reset.css">
		<link rel="stylesheet" type="text/javascript" href="/css/nav-bar.css">
		<link rel="stylesheet" type="text/javascript" href="/css/content.css">
		<link href='http://fonts.googleapis.com/css?family=Share' rel='stylesheet' type='text/css'> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="/js/googlemapsapi.js"></script>
		<script src="/js/toggle.js"></script>
	</head>

	<body>
		<header id="menu">
			<!-- navigation -->
			<nav class="fixed-nav-bar">
				<!-- page title -->
				<a class="title-area" href="#">Spotaru</a>
			    <!-- responsive menu  -->
			    <ul class="menu-items">
			      <li>
			      	<a id="search" class= "selected" href="#" onclick="toggle_visibility('searchdiv')">Search</a>
			      </li>
			      <li>
			      	<a id="post" class= "selected" href="#" onclick="toggle_visibility('postdiv')">Post</a>
			      </li>
			      <li>
			      	<a id="login" class= "selected" href="#" onclick="toggle_visibility('logindiv')">Log In</a>
			      </li>
			      <li>
			      	<a id="signup" class= "selected" href="#" onclick="toggle_visibility('signupdiv')">Sign Up</a>
			      </li>	
			  </ul>
			</nav>
		</header>
		<div class="content">

			<div id="map-canvas" class="position-setup"></div>	

			<div id="searchdiv" class="position-setup rightsidebar">				
				<div id="searchcontent" class="paddingcontent">
					<h1>Search</h1>
				</div>
			</div>

			<div id="postdiv" class="position-setup rightsidebar">				
				<div id="postcontent" class="paddingcontent">
					<h1>Post</h1>
					<div id="postform" class="paddingcontent">
    					<input id="address" type="textbox" value="Sydney, NSW">
    					<input id="searchbutton" type="button" value="Encode">
					</div>    					
				</div>
			</div>

			<div id="logindiv" class="position-setup rightsidebar">
				<div id="logincontent" class="paddingcontent">
					<h1>Login</h1>
				</div>
			</div>

			<div id="signupdiv" class="position-setup rightsidebar">
				<div id="signupcontent" class="paddingcontent">
					<h1>Sign Up</h1>
				</div>
			</div>

		</div>
	</body>
 
		<script type="text/javascript" 
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDtmMF_hb0c03tCHSgeE-JwbJYho45EQY&callback=createMap"></script>
</html>

