.content-container {
    padding-top: 60px;
    width: 100%;
    height: calc(100vh - 40px);
}

.right-sidebar {
    background-color: #FFFFFF;
    float: right;
    overflow-y:auto;
}

.content-text{
    font-family: 'Share', cursive;
    color: #84ABA4; /* green */
    /*color: #FFA263; //orange */
}

.align-center {
    text-align: center;
}

.content-display-none {
    display: none;
}

.content-display-inline-block {
    display: inline-block;
}

.content-no-padding{
    padding: 0px;
}

.content-padding {
    padding: 60px;
}

.content-padding-top {
    padding-top: 15px;
}

.content-padding-left {
    padding-left: 15px;
}

.content-full-width {
    width: 100%;
}

.content-65-width {
    width: 65%;
}

.content-25-width {
    width: 25%;
}

.content-75-width {
    width: 75%;
}

.content-no-margin {
    margin: 0px;
}

.content-right {
    right: 0px;
}

.wrapper{
    position: relative;
}

#signup-div {
    display: block;
}

.breadcrumb > li + li:before {
    content: "/ ";
    padding: 0 5px;
}

.content-no-background-color{
    background-color: white;
}

span {
    display: inline-block;
    vertical-align: middle
}

#search-content{
    width: 35%;
    display: none;
}

#listing-nav{
    width: 100%;
}

#listing-div{
    padding: 15px 60px 60px 60px;
}

.to-text-div{
    position: relative;
    min-height: 60px;
    padding: 0px;
}

.to-text{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.checkbox-grid{
    padding: 0px;
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 50%;
}