.content-container{
  width: 100%;
  height: calc(100% - 51px);
  font-family: 'Share', cursive;
  color: #84ABA4;
  padding-top: 51px;
}

.position-setup{
  height: 100%;
  display: inline-block;
}

#map-canvas {
  width: 65%;
  border-right: thin solid #428378;
}

.rightsidebar{
  width: calc(35% - 1px);
  background-color: #FFFFFF;
  float: right;
  text-align: center;
  display: none;
}

.paddingcontent{
  padding:50px;
}

#searchdiv{
  display: block;
}

#postform{
  padding-top: 50px;  
}