.align-center {
    text-align: center;
}

.content-text{
    font-family: 'Share', cursive;
    color: #84ABA4; /* green */
    /*color: #FFA263; //orange */
}

.content-container {
    padding-top: 60px;
    width: 100%;
    height: 100vh;
}

.content-display-none {
    display: none;
}

.content-display-inline-block {
    display: inline-block;
}

.content-no-padding{
    padding: 0px;
}

.content-padding {
    padding: 60px;
}

.right-sidebar {
    /*height: 100%;*/
    background-color: #FFFFFF;
    float: right;
    overflow-y:auto;
}

.content-padding-top {
    padding-top: 15px;
}

.content-padding-left {
    padding-left: 15px;
}

.content-35-width {
    width: 35%;
}

.content-full-width {
    width: 100%;
}

.content-65-width {
    width: 65%;
}

.content-no-margin {
    margin: 0px;
}

.content-right {
    right: 0px;
}

.wrapper{
    position: relative;
}

#signup-div {
    display: block;
}

#search-box{
    margin-top:12px;
    padding:5px;
    position:absolute;
    left:70px;
    top: 60px;
    z-index:99;
}

.breadcrumb > li + li:before {
    content: "/ ";
    padding: 0 5px;
}

.content-no-background-color{
    background-color: white;
}