/*maps*/
#map-canvas {
	height: 100%;
	border-right: thin solid #428378;
	float:left;
}

.max-map-size{
	width: calc(100% - 300px);
}

#search-box {
	margin-top:52px;
	padding:5px;
	position:absolute;
	left:70px;
	top: 60px;
	z-index:99;
}

#filter-bar-div {
	height: 40px;
	background-color: #84ABA4;
	border-bottom: thin solid #A4C1BC;
}

#filter-bar {
	height: 100%;
	width: 25%;
	min-width: 300px;
	border-left: thin solid #A4C1BC;
	float: right;
}

.spotaru-default-font{
	text-align:center;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 16px;
	color: #ffffff;
}

#filter-content-div {
	width: 25%;
	min-width: 300px;
	height: 100%;
	padding: 15px 30px 30px 30px;
	display: none;
}