header, .custom-navbar-green {
    background-color: #84ABA4;
    border-bottom: thin solid #428378;
    /*background-color: #FF6700; //orange
    border-bottom: thin solid #FFA263; */
}

.custom-navbar-green a, .custom-navbar-green a:visited {
    color: #ffffff;
}

/*title position*/
.title-area {
    float: left;
    margin: 9px 0px 0px 50px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
}

a.title-area {
    text-decoration: none;
}

/*menu position*/
.menu-items {
    float: right;
    margin: 20px 50px 20px 0px;
    display: inline-block;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 14px;
}

/*menu item position*/
.title-area li, .menu-items li {
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}

/*menu link color*/
.menu-items a, .menu-items a:visited {
    color: #ffffff;
}

.menu-items a:hover, .menu-items a:target {
    color: #ebebeb;
}

ul.menu-items li a.selected{
    text-decoration: none;
}

ul.menu-items li a.active{
    /* color: #BFDCD7; //green */
    color: #BFDCD7;
}